/**
 * 커스텀 babel 설정
 *
 * - https://nextjs.org/docs/advanced-features/customizing-babel-config
 */
{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
